$primary-color: #79C7D4;
$primary-color-darken: #1FA2B9;

$grey-color: #777879;
$grey-lighten: #B0B0B0;

$light-color: #F6F8FB;
$border-color: #E7E7E7;
$dark-color: #0F0F0F;

$danger: #E86161;
$icon-notification-one: #98579E;
$icon-notification-two: #E30613;
$icon-circle: #21A2B9;

$gutter: 2.5rem;